# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# GLM libraries
glm/*
*/glm/*

# STB libraries
stb-master/*
*/stb-master/*

# OpenGL libraries
glfw-3.3.3/*
glew-2.1.0/*

# Bullet Physics libraries
bullet/*

# Freetype libraries
freetype/*

# SFML
/2.SFML_2D/SFMLProject/SFML-2.5.1/*
/2.SFML_2D/SFMLProject/Assets/*
*/SFML-2.5.1/*
/4.Extras/FlappyClone/SFML-2.5.1/*
/4.Extras/FlappyClone/Assets/*

# VS files and others
*.sln
*.ilk
*.log
*.txt
*.exe
*.exe.recipe
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.idb
*.pdb
*.tlog
*.cmake
